* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}

h1,
h2,
h3 {
  color: #1098ad;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

.main-header::after {
  clear: both;
  content: "";
  display: block;
}

h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
  float: left;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

nav {
  float: right;
}

nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.clear {
  clear: both;
}

article {
  margin-bottom: 60px;
  width: 825px;
  float: left;
}

.post-header {
  margin-bottom: 40px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

.author-img {
  float: left;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

#author {
  font-style: italic;
  font-style: 18px;
}

.post-img {
  width: 100%;
  height: auto;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

li:nth-child(even) {
  color: grey;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
  width: 300px;
  float: right;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.related {
  list-style: none;
  margin-left: 0;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

#copyright {
  font-size: 16px;
  clear: both;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
